body{
  font: 100% sans-serif;
  background-color: #002e39;
}

header{
  display: block;
}

div{
  margin: 40px;
}

nav {
  display: block;
}
.container{
  height: 100%;
}
.page-content {
 
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  box-sizing: border-box;
  background:#1a454f;
  border-radius: 0;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;

}

/*.page-content:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}*/

.site-header {
  text-align: center; /*Deja los textos centrado*/
  max-width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
  align-items: center;
  background:#1a454f;
  border-radius: 0;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}

.site-header nav a {
  color:#a7b7be;
  text-decoration: underline;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px;
  font-weight: 800;
  align-items: center;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: -1px;
  text-decoration: none;
  color: white;
  vertical-align: middle;
  
}
.site-title:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.child {
  width: 70px;
  height: 70px;
  /* Center horizontally*/
  margin: 0 auto;
}

#info-actual{
  margin: 0;
}

#stack{
  display: flex;
  margin: 0;
}

#figuras{
  display: flex;
}

#logo{
  width: 50px;
  height: 50px;
}

svg path, svg g{
	transform-box: fill-box;
}

#Group_2 {
  transform-origin:55% 50%;
	-moz-transform-origin:55% 50%;
	animation: flip_left 3.5s infinite linear alternate;
}

@keyframes flip_left {
  0% {transform: perspective(2000px) rotateY(90deg) skewY(-1deg)}
  30% {transform:perspective(2000px) rotateY(-25deg) skewY(-0.8deg)}
  50% {transform:perspective(2000px) rotateY(20deg) skewY(0.8deg)}
  70% {transform:perspective(2000px) rotateY(-10deg) skewY(-0.8deg)}
  100% {transform:perspective(2000px) rotateY(0deg)}
}

#flamaIzquierda {
  animation: scale-alternate 3s ease-out infinite alternate ;
}

#flamaDerecha {
  animation: scale-alternate 2s ease-out infinite alternate;
}

@keyframes scale-alternate {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  45% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  92% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

figure {
  margin-left: auto;
  margin-right: auto;
  border:none;
  width: 80%;
}

.texto{
  text-align: justify;
}

@media (max-width: 650px){
  #logo{
    width: 60px;
    height: 60px;
  }
  .site-title{
   font: 100% sans-serif;
   text-decoration: none;
   color: black;
  }
}

@media (max-width: 1150px){
  #figuras{
    display:inline;
  }
}

@media (max-width: 450px){
  #stack{
    display:inline;
  }
}


.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .page-content {
  background:black;
  color: white;
}

.dark-mode .site-header{
  background:black;
  
}

.dark-mode .site-header #site-title{
  color: white;
}
.dark-mode .site-header a{
  color: white;
}

.boton-dark-mode {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.boton-dark-mode:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
